<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>member data</title>
  </head>
  <body> 
    <p>account:<%= member.account %></p>
    <p>name:<%= member.name %></p>
    <p>email:<%= member.email %></p>
    <p>telephone:<%= member.telephone %></p>
    <p>photo:<img src=<%= member.localphotoname %> /></p>
  </body>
</html>
